@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Welcome";
}

<center>

<h2> @ViewData["Title"] page</h2>
<h4>You're very much welcome to the Okitech Cyber Cafe Website</h4>
</center>